h1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 25px;
    font-weight: bolder;
    color: #EFE9F4;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    list-style: none;
    color: #EFE9F4;
    text-align: center;
}

body {
    background-color: #D1495B;
}

.content {
    margin-top: 20px;
}

.control {
    margin-top: 30px;
    background-color: #D1495B;
    display: flex;
    justify-content: center;
}

.addBtn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 12px;
    border-style: none;
    background-color: #EFE9F4;
}

#input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #D1495B;
    border-top: #3387a0a2;
    border-bottom: #3387a0a2;
    border-right: #3387a0a2;
    color: #EFE9F4;
}